lib-cov
*.seed
=======
# Logs
.DS_Store
front-end/public/lib/**
front-end/public/libs/**
logs


*.log
*.csv
*.dat
*.out
*.pid
*.gz
**.swp

pids
logs
results

npm-debug.log
node_modules
eth/node_config/**
eth/genesis.json
