<h2>Overview of reports</h2>

<table class="table">
	<thead>
		<th>Submission date</th>
		<th>Report ID</th>
		<th>Issuer name</th>
		<th></th>
	</thead>
	<tbody>
  		<tr *ngFor="let report of reports.reverse()">
  			<td>{{ report.timestamp.submission | date : 'medium'}}</td>
  			<td>{{ report.reportIdentification.reportId }}</td>
  			<td>{{ report.issuerIdentification.name }}</td>
  			<td>
  				<a href="{{ report.reportSource.NCAReportURL}}">Download</a>
  			</td>
  		</tr>
  	</tbody>
</table>
